.skills {
    background: #4c5a92;
background: linear-gradient(180deg, rgba(76,90,146,.8) 0%, rgba(131,148,198,.4) 100%);
    position: relative;
}

.skills-header {
    text-align: center;
    padding: 50px !important;
    // background: url("./../../images/bg.jpg") no-repeat center center fixed; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    letter-spacing: 5px;
    // background-color:#765664;
    color: white
}


.skills-container {
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px !important;
    padding-bottom: 50px !important
}

.skills-mnt {
    min-height: 40px;
    min-width: 100%;
    position: absolute;
    background-image: url("./../../images/projects-mnt-cn.png");
    bottom: 0px !important;
    margin-bottom: 0 !important;    
    visibility: hidden;
}

.skill-img {
    // border: 2px solid white !important;
    padding: 15px !important;
    // border-radius: 10px;
}