.skills {
    background-color:#696da3;
    position: relative;
}

.skills-header {
    text-align: center;
    padding: 50px !important;
    // background: url("./../../images/bg.jpg") no-repeat center center fixed; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    letter-spacing: 5px;
    background-color: #696da3;
    color: white
}

.skills-container {
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px !important;
    padding-bottom: 50px !important
}

.skills-mnt {
    min-height: 40px;
    min-width: 100%;
    position: absolute;
    background-image: url("./../../images/projects-mnt-cn.png");
    bottom: 0px !important;
    margin-bottom: 0 !important;
}