.skills {
    background-color:#696da3;
}

.skills-header {
    text-align: center;
    padding: 50px !important;
    // background: url("./../../images/bg.jpg") no-repeat center center fixed; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    letter-spacing: 5px;
    background-color: #696da3;
    color: white
}