.about-info {
    background-color: white;
    height: 35vh;
    position: relative;
}

.about-info-header {
    position: relative;
    text-align: center;
    margin-top: 40px !important;
    margin-bottom: 20px !important;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 32px !important;
    padding-top: 32px !important;
    opacity: 0
}

.about-info-content {
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 32px !important;
    opacity: 0
}

.about-resume-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 26px;
}

.about-resume-link:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.6) !important;
}

.projects-mnt {
    min-height: 40px;
    min-width: 100%;
    position: absolute;
    background-image: url("./../../images/projects-mnt.png");
    bottom: 0px !important;
    margin-bottom: 0 !important;
}


@media only screen and (max-width: 600px) {
    .about-info {
        background-color: white;
        height: auto;
        position: relative;
    }

    .about-info-content {
        padding: 48px !important;
        text-align: center;
    }

    .about-info-header {
        margin-top: 0 !important
    }
  }

@media only screen and (max-width: 1580px) {
    .about-info {
        background-color: white;
        height: auto;
        position: relative;
    }

    .about-info-content {
        padding: 48px !important;
        text-align: center;
    }
}

@media only screen and (max-height: 800px){
    .about-info {
        background-color: white;
        height: auto;
        position: relative;
    }

    .about-info-content {
        padding: 48px !important;
        text-align: center;
    }
}