.about-info {
    background-color: white;
    height: 35vh;
    position: relative;
}

.about-info-header {
    position: relative;
    text-align: center;
    margin-top: 40px !important;
    margin-bottom: 20px !important;
    color: rgba(0, 0, 0, 0.8);
    letter-spacing: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-top: 32px !important;
    padding-top: 32px !important
}

.about-info-content {
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 32px !important;
}

.projects-mnt {
    min-height: 120px;
    min-width: 100%;
    position: absolute;
    background-image: url("./../../images/projects-mnt.png");
    bottom: 0px !important;
    margin-bottom: 0 !important;
}