.popup {
    position: fixed;
    left: calc(50%-75px);
    top: 50%;
    // transform: (-50%, -50%);
    width: 150px;
    height: auto;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    background-color: white;
}