.projects {
    background-color: #3e3b57;
    // height: 150px;
    position: relative;
    height: auto;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.projects-header {
    text-align: center;
    padding: 50px !important;
    // background: url("./../../images/bg.jpg") no-repeat center center fixed; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    letter-spacing: 5px;
    background-color: #3e3b57;
    color: white;
    opacity: 0
}

.projects-mnt-bt {
    min-height: 40px;
    min-width: 100%;
    position: absolute;
    background-image: url("./../../images/projects-mnt-bt.png");
    bottom: 0px !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important
}

.projects-data {
    position: relative;
    width: 40%;
    left: 30%;
    margin-bottom: 55px !important;
    margin-top: 55px !important;
    border-radius: 5px !important;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    background-color: #696da3;
}

.projects-img-container {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.projects-img {
    max-width: 98%;
    max-height: 100%;
    padding: 1% !important;
    vertical-align: middle;
}

.projects-info {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
}

.projects-info > h2 {
    color:white;
    letter-spacing: 3px;
    padding: 10px !important
}

@media only screen and (max-width: 800px) {
    .projects-data {
        width: 90%;
        left: 5%;
        background-color: #696da3;
    }

    .projects-img-container {
        width: 100%;
        height: auto;
    }

    .projects-img {
        max-width: 96%;
        padding: 2% !important
    }

    .projects-info {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
    }
    
}


@media only screen and (min-width: 1920px) {
    .projects-img-container {
        width: auto;
        height: auto;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    }
}