.projects {
    background-color: #3e3b57;
    // height: 150px;
    position: relative;
    height: auto;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.projects-header {
    text-align: center;
    padding-top: 50px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
    // background: url("./../../images/bg.jpg") no-repeat center center fixed; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
    letter-spacing: 5px;
    background-color: #3e3b57;
    color: white;
    opacity: 0
}

.projects-over-info-git, .projects-over-info-tech {
    position: relative;
    width: 100%;
}

.projects-over-info-git {
    height: 60%;
}

.projects-over-info-tech {
    height: 40%
}

.projects-over-info-git > a {
    position: absolute;
    width: 40%;
    height: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.projects-over-info-git > a > img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.projects-mnt-bt {
    min-height: 40px;
    min-width: 100%;
    position: absolute;
    background-image: url("./../../images/projects-mnt-bt.png");
    bottom: 0px !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important
}

.projects-data {
    position: relative;
    width: 40%;
    margin-bottom: 75px !important;
    margin-top: 125px !important;
    border-radius: 5px !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: 0;
    // background-color: #696da3;
}

.projects-img-container {
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    padding: 5px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 2px;
}
.projects-data-container {
    position: relative;
    width: 80%;
    height: 100%;
    left: 10%;
    display: flex;
    flex-wrap: wrap;

}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.projects-img {
    max-width: 100%;
    max-height: 100%;
    // padding: 1% !important;
    vertical-align: middle;
}

.projects-info {
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;
    padding: 10px !important;
    background-color: transparent !important;  
    background-size: 100% 100%
}

.projects-info > h2 {
    color:rgba(0, 0, 0, 0.8);
    letter-spacing: 3px;
    padding: 10px !important
}

.projects-over-info-tech {
    display: flex;
    justify-content: space-around;
}

.projects-over-info-tech > img{
   max-height: 50%;
}

.projects-info > p {
    color:rgba(0, 0, 0, 0.6);
    padding: 10px !important
}
.projects-technologies {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    position: relative;
}

.projects-over-info {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.projects-subheader {
    color: rgba(255, 255, 255, 0.8);
    letter-spacing:2px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px !important;
    opacity: 0
}

@media only screen and (max-width: 890px) {
    .projects-data {
        width: 90%;
        left: 0%;
        background-color: #696da3;
        margin-bottom: 55px !important;
        margin-top: 55px !important;
    }

    .projects-img-container {
        width: 100%;
        height: auto;
    }

    .projects-img {
        max-width: 100%;
        // padding: 2% !important
    }

    .projects-info {
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
    }

    .projects-data-container {
        position: relative;
        width: 80%;
        height: 100%;
        left: 10%;
        display: flex;
    }

    
}


@media only screen and (min-width: 1920px) {
    .projects-img-container {
        width: auto;
        height: auto;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    }
}