.skill-img {
    max-width: 25%;
    max-height: 25%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 20px !important;
    // background-image:  url("./../../images/skillct.png");
    // background-size: 100% 100%
}

.skill-desc {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    font-size: 14px;
    text-align: center;
    color:rgba(0, 0, 0, 0.6) !important;
}

.skills-container > figure {
    width: 350px;
    margin-bottom: 50px !important;
}

.skill-figure > figcaption {
    width: 70%;
    left: 15%;
    position: relative;
}

.skill-desc-container {
    color: rgba(0, 0, 0, 0.6) !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 10px;
    background-color: white;
    // background-image: url("./../../images/skillcd.png"); 
    background-size: 100% 100%;
    padding-left: 30px !important;
    padding-right: 30px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);

}

figcaption > h3 {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    // padding-top: 5px !important;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.skill-figure {
    opacity: 0;
    height: 100%;
}



@media only screen and (max-width: 890px) {
    .skill-img {
        max-width: 35%;
        max-height: 35%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        margin-bottom: 20px !important;
        // background-image:  url("./../../images/skillct.png");
        // background-size: 100% 100%
    }
    
    .skill-desc {
        max-width: 100%;
        max-height: 100%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        padding-bottom: 10px !important;
        padding-top: 10px !important;
        font-size: 16px;
        text-align: center;
        color:#696da3 !important;
    }
    
    .skills-container > figure {
        width: 350px;
        margin-bottom: 50px !important;
    }
    
    .skill-figure > figcaption {
        width: 80%;
        left: 10%;
        position: relative;
    }
    
    .skill-desc-container {
        color: rgba(0, 0, 0, 0.6) !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-size: 12px;
        // background-image: url("./../../images/skillcd.png"); 
        background-size: 100% 100%;
        margin-bottom: 20px !important;

    }
    
    figcaption > h3 {
        color: rgba(255, 255, 255, 0.8);
        letter-spacing: 3px;
        text-align: center;
        // margin-bottom: 10px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
    
    .skill-figure {
        opacity: 0;
        height: 100%;
    }  
}
