.about {
    position: relative;
    height: 65vh;
    width: 100%;
}

.about-header {
    color: white;
    font-size: 48px;
    border: 3px solid white;
    width: auto;
    text-align: center;
    padding: 24px !important;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

@media only screen and (max-width: 600px) {
    .about-header {
        font-size: 24px;
    }
}