.about {
    position: relative;
    height: 70vh;
    width: 100%;
}
@font-face {
    font-family: 'Leaf';
    src: local('Leaf'), url(./../../fonts/Leaf.otf) format('opentype');
}

.about-header {
    color: white;
    font-size: 48px;
    border: 3px solid white;
    width: auto;
    text-align: center;
    padding: 24px !important;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    opacity: 0
}

@media only screen and (max-width: 600px) {
    .about {
        height: 100vh;
        background: url("./../../images/bg.jpg") no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .about-header {
        font-size: 24px;
        top: 40%;
    }
}