.language-btn-show, .language-btn-pick {
    border: 0 !important;
    outline: none;
    right: 25px;
    bottom: 25px;
    position: fixed;
    z-index: 2000;
}

.language-btn-show {
    font-size: 16px;
    color: white;
    width: 60px;
    padding: 2px !important;
    background-color:transparent;
    border-bottom: none !important;
}

.language-btn-show > img {
    max-width: 100% !important;
}

.language-btn-pick {
    color: white;
    width: 50px;
    text-align: center;
    border-left: 1px solid white !important;
}

.navbar {
    position: fixed;
    left: 25px;
    height: auto;
    top: 50%;
    display: block;
    transform: translate(0%, -50%);
}

.navbar-item {
    border: 2px solid transparent;
    width: 32px;
    height: 32px;
    margin: 5px !important;
    border-radius: 50% !important;
    outline: none;
    position: relative;
}

.navbar-dark {
  background: url("./images/navbar.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-item:hover {
  border: 2px solid#8e8dbca4;
  background: url("./images/active.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-item-active {
    /* border: 2px solid #8e8dbc; */
    background: url("./images/active.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.language-btn-show > img {
    -webkit-filter: drop-shadow(0px -1px 1px #000000);
        filter: drop-shadow(0px -1px 1px #000000);
}

.navbar > button {
    outline: none;
    background-color: transparent;
    border: none !important;
    position: relative;
    display: block;

}

.navbar-dot {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50% !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
    .language {
        padding: 5px !important;
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 2000 !important;
    }

    .language-btn-show, .language-btn-pick {
        border: 0 !important;
        outline: none;
        top: 5px;
        left: 5px;
        position: fixed;
        z-index: 2000;
        height: 55px
    }
    .App {
        background-color: #3e3b57;
    }
    
    .language-btn-show > img {
        max-height: 100% !important;
        max-width: 100% !important;
    }
  }