.language-btn-show, .language-btn-pick {
    border: 0 !important;
    background-color: transparent;
    outline: none;
    margin-left: 2px;
    margin-top: 2px;
}

.language-btn-show {
    font-size: 16px;
    color: white;
    border-bottom: 1px solid white !important;
    width: 160px;
    padding: 4px !important
}

.language-btn-pick {
    color: white;
    width: 50px;
    text-align: center;
    border-left: 1px solid white !important;
}

.navbar {
    position: fixed;
    left: 25px;
    height: auto;
    top: 50%;
    display: block;
    transform: translate(0%, -50%);
}

.navbar-item {
    border: 2px solid transparent;
    width: 32px;
    height: 32px;
    margin: 5px !important;
    border-radius: 50% !important;
    outline: none;
    position: relative;
}

.navbar-dark {
    background: url("./images/navbar.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar-item:hover {
    border: 2px solid#8e8dbc;
}

.navbar-item-active {
    border: 2px solid #8e8dbc;
    background: url("./images/active.png") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar > button {
    outline: none;
    background-color: transparent;
    border: none !important;
    position: relative;
    display: block;

}

.navbar-dot {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50% !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }
    .language {
        padding: 5px !important;
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 2000 !important
    }
    .App {
        background-color: #3e3b57;
    }
  }