.footer {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, .6);
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    background-color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.footer-container {
    // background-image:  url("./../../images/footer.png");
    background-size: 100% 100%;
}